<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Document</title>
    {% endblock title %}
    <link rel="stylesheet" href={% static 'desafio/css/styles.css' %}>
</head>
<body>
    <header>
        <nav>
            <ul id="menu">
            <li><a href={% url 'index' %}>Inicio</a></li>
            <li><a href={% url 'sobre_nosotros' %}>Sobre nosotros</a></li>
            <li><a href={% url 'listado_libros' %}>Crear Libro</a></li>
            {% if request.user.is_authenticated %}
            <li>
                <a href={% url 'perfil' %}>
                    {% if request.user.masdatosusuario.avatar %}
                    <img src={{request.user.masdatosusuario.avatar.url}} alt="" height="50px">
                    {% endif %}
                    {{request.user.username}}
                </a>
            </li>
            <li><a href={% url 'logout' %}>Logout</a></li>
            {% else %}
            <li><a href={% url 'login' %}>Login</a></li>
            <li><a href={% url 'register' %}>Register</a></li>
            {% endif %}
            </ul>
        </nav>
    </header>
    {% block h1 %}<h1>Hola este es el html base</h1>{% endblock h1 %}
    {% block after_header %}{% endblock after_header %}
</body>
</html>