{% extends 'base.html' %}
{% block title %}
<title>Crear Libro</title>
{% endblock title %}
{% block h1 %}
<h1>Creacion de Libro</h1>
{% endblock h1 %}

{% block after_header %}
<p>
    <a href={% url 'listado_libros' %}>Volver</a>
</p>
<p>
    <form action={% url 'crear_libro' %} method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        <table>
            {{form.media}}
            {{form.as_table}}           
        </table>
        <button>Crear</button>
    </form>
</p>
{% endblock after_header %}