{% extends 'base.html' %}
{% block title %}
<title>Listado de Libros</title>
{% endblock title %}
{% block h1 %}
<h1>Listado de Libros</h1>
{% endblock h1 %}

{% block after_header %}
<p>
    <a href={% url 'crear_libro' %}>Crear Libro</a>
</p>
<p>
    <form action={% url 'listado_libros' %}>
        {{form}}
        <button>Buscar</button>
    </form>
</p>
<p>
    {% if object_list %}
    <ul>
        {% for libro in object_list %}
        <li>
        {{libro}}
        <a href={% url 'mostrar_libro' libro.id %}>Mostrar</a>
        <a href={% url 'editar_libro' libro.id %}>Editar</a>
        <a href={% url 'eliminar_libro' libro.id %}>Eliminar</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    No se encontraron datos.
    {% endif %}
</p>
{% endblock after_header %}