{% extends 'base.html' %}

{% block title %}
<title>Libro</title>
{% endblock title %}

{% block h1 %}
<h1>
    Libro
</h1>
{% endblock h1 %}

{% block after_header %}
<p>
    <a href={% url 'listado_libros' %}>Volver</a>
</p>

<p>
    <ul>
        <li>
            {{libro.titulo}}
        </li>
        <li>
            {{libro.subtitulo}}
        </li>
        <li>
            {{libro.contenido | safe}}
        </li>
        <li>
            {{libro.fecha_creacion}}
        </li>
        <li>
            {% if libro.imagen %}
            <img src={{libro.imagen}} alt="" height="250px">
            {% endif %}
        </li>
    </ul>
</p>
{% endblock after_header %} 