{% extends 'base.html' %}
{% block h1 %}
<h1>SOBRE NOSOTROS</h1>
{% endblock h1 %}
{% block after_header %}
<h2>
    Franco Rossi
</h2>
<p>
    Mi nombre es Franco, y soy un estudiante de universidad en el area de Programacion, tambien me complemento con cursos para incrementar mi conocimiento. Tengo 20 años y jugaba basquet hace unos años, ahora busco terminar mis estudios capacitandome lo mas que pueda, y lograr conseguir un buen trabajo. 
</p>
<h2>
    Franco Spadachini
</h2>
<p>
    Soy Franco Nicolás Spadachini, tengo 19 años y soy técnico electrónico. Actualmente estoy cursando el segundo año de Ingeniería Electrónica UBA con el objetivo de enfocar los estudios a la biónica o nanotecnología. Hasta el día de la fecha he trabajado en proyectos que involucren medicina, mecánica y electrónica, y actualmente estoy en búsqueda de expandir los horizontes con programación (en vista de optimizar los mismos y futuros).
</p>
<h2>
    Juan Hussen
</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
{% endblock after_header %}